/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 6, ../../app/stylesheets/_base.scss */
body {
  font-size: 1.1em;
}

/* line 10, ../../app/stylesheets/_base.scss */
.title-text {
  color: #999999;
  font-style: italic;
}

/* line 15, ../../app/stylesheets/_base.scss */
a:visited {
  color: #2200CC;
}

/* line 20, ../../app/stylesheets/_base.scss */
#new-url-box input {
  font-size: 1.8em;
  padding: 0.2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 26, ../../app/stylesheets/_base.scss */
#new-url-box input[type=text] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-right: 0.3em;
  text-shadow: 0px 1px 0px #FFFFFF;
  border: 1px solid #999999;
  -moz-box-shadow: inset 1px 1px 1px 0 #cccccc;
  -webkit-box-shadow: inset 1px 1px 1px 0 #cccccc;
  -o-box-shadow: inset 1px 1px 1px 0 #cccccc;
  box-shadow: inset 1px 1px 1px 0 #cccccc;
}
/* line 34, ../../app/stylesheets/_base.scss */
#new-url-box input:focus {
  -moz-box-shadow: 0 0 5px 2px #aaaaff;
  -webkit-box-shadow: 0 0 5px 2px #aaaaff;
  -o-box-shadow: 0 0 5px 2px #aaaaff;
  box-shadow: 0 0 5px 2px #aaaaff;
}
/* line 38, ../../app/stylesheets/_base.scss */
#new-url-box input[type=submit] {
  border: 1px solid #9999BB;
  -moz-box-shadow: 1px 1px 1px 0px #444466;
  -webkit-box-shadow: 1px 1px 1px 0px #444466;
  -o-box-shadow: 1px 1px 1px 0px #444466;
  box-shadow: 1px 1px 1px 0px #444466;
  color: #eee;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444488), color-stop(100%, #333366));
  background-image: -webkit-linear-gradient(top, #444488, #333366);
  background-image: -moz-linear-gradient(top, #444488, #333366);
  background-image: -o-linear-gradient(top, #444488, #333366);
  background-image: linear-gradient(top, #444488, #333366);
}
/* line 46, ../../app/stylesheets/_base.scss */
#new-url-box input[type=submit]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555599), color-stop(100%, #444488));
  background-image: -webkit-linear-gradient(top, #555599, #444488);
  background-image: -moz-linear-gradient(top, #555599, #444488);
  background-image: -o-linear-gradient(top, #555599, #444488);
  background-image: linear-gradient(top, #555599, #444488);
  cursor: pointer;
}
/* line 51, ../../app/stylesheets/_base.scss */
#new-url-box #url_entry_url {
  width: 15em;
}
/* line 55, ../../app/stylesheets/_base.scss */
#new-url-box #url_entry_key {
  width: 8em;
}

/* line 61, ../../app/stylesheets/_base.scss */
#url-list table {
  margin-top: 40px;
  width: 650px;
}
/* line 66, ../../app/stylesheets/_base.scss */
#url-list td, #url-list th {
  padding: 5px;
}
/* line 70, ../../app/stylesheets/_base.scss */
#url-list th {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 75, ../../app/stylesheets/_base.scss */
#url-list tr:nth-child(even) {
  background-color: #EEEEFF;
}
/* line 79, ../../app/stylesheets/_base.scss */
#url-list thead tr {
  background-color: #EEEEEE;
}
/* line 83, ../../app/stylesheets/_base.scss */
#url-list td.key-entry {
  width: 8em;
}
/* line 88, ../../app/stylesheets/_base.scss */
#url-list td.url-entry a {
  text-decoration: none;
}
/* line 92, ../../app/stylesheets/_base.scss */
#url-list td.url-entry a:hover {
  text-decoration: underline;
}
/* line 96, ../../app/stylesheets/_base.scss */
#url-list td.url-entry .hover-delete {
  float: right;
  display: none;
}
/* line 101, ../../app/stylesheets/_base.scss */
#url-list td.url-entry .delete-button {
  height: 1em;
}
/* line 106, ../../app/stylesheets/_base.scss */
#url-list tbody:hover .hover-delete {
  display: inline;
}
