<!DOCTYPE html>
<html>
	<head>
		<title>Shorty</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
		<%= csrf_meta_tag %>
	</head>
	<body class="one-column">
		<div id="wrapper">
			<div id="header">
				<span class="banner">Shorty</span> <span class="subtitle">A quick and easy URL shortener</span>
			</div>
			<div id="main-content">
				<%= yield %>
			</div>
			<div id="footer">
				&copy; 2011 Shorty - <a href="http://www.opensource.org/licenses/mit-license.php">License</a>
			</div>
		</div>
	</body>
</html>
